* {
	margin: 0;
	padding: 0;
}

/*body{
	background-image: url(img/DSC_1045.JPG);
	color: white;
}*/

/*-------------Mobile Version-----------*/

/*------Mobile Base Grid------*/
/* Base Grid setup is a single columns: */
/* While "content" class should have 	*/
/* another grid in it.					*/


.grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas: 
	"title"
	"header"
	"content"
	"sidebar"
	"footer";
}

/*------Title Section-------*/
.title {
	grid-area: title;
	display: grid;
	height: 300px;
	width: 100%;
	max-width: 100%;
	margin: auto;
	background: rgba(212, 252, 249, 1) url(img/DSC_1045.JPG) center 0px;
	-webkit-background-size: 100% 100%;
}

 .jollie{
 	display: grid;
 	font-size: 1em;
 	color: rgba(252, 177, 65, 1);
 	justify-self: center;
 	align-self: center;
 	background: rgba(128, 128, 128, 0.85);
 	padding: 5%;
 	border-radius: 15% 15%;
 	border: .2em solid rgba(252, 177, 65, 1);
 }

 .btn {
 	text-align: center;
 	color: white;
 	font-weight: bold;
 }

 /*------Header Section------*/

.header {
	grid-area: header;
	
}

.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.header li {
	font-size: 1.5em;
	color: white;
    float: right;
}

.header li a {
    display: inline;
    color: white;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
}

.header li a:hover {
    background-color: #111;
}

/*--------Main Content Section --------*/
/*additional grid inside*/


.innerGrid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	z-index: 1;
}

.innerGrid div{
	display: grid;
	justify-self: center;
	align-self: center;
	background-color: grey;
	z-index: 1;
	width: 100%;
}
.content {
	grid-area: content;
	justify-self: center;
	border: 1em solid black;
}
/*Products will need despriction
with more individual functions
#product1 {
	width:100%;
}

#product2 {
	width:100%;
}

#product3 {
	width:100%;
}

#product4 {
	width:100%;
}

#product5 {
	width:100%;
}

#product6 {
	width:100%;
}*/


/*--------Sidebar/About Bar--------*/

.sidebar {
	grid-area: sidebar;
	justify-self: center;
	justify-content: center;
	text-align: center;
	width: 100%;
	font-size-adjust: 2em:;
	padding:2em 0em;
	background: grey;
	border-radius: 10%;
}

#utilityMenu li{
	list-style-type: none;
	display: inline;
	padding: 2em 0em;
}


/*--------Footer--------*/

.footer {
	grid-area: footer;
	justify-align: right;
	display: inline-block;
}

.footer ul {
	list-style-type: none;
	margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.footer li {
	font-size: .8em;
	color: white;
    float: center;
}

#menuFooter li {
    display: inline;
    color: white;
    text-align: center;
    padding: 2em 2em;
    text-decoration: none;
}

#menuFooter li a{
    display: inline;
    color: white;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
}


/*---------Desktop Additions-----------*/
@media screen  and (min-width: 1180px) 
{
	.grid {
		display: grid;
		grid-template-columns: 10% 1fr 1fr 1fr 10%;
		grid-template-areas: 
		"title title title title title"
		"header header header header hBlack"
		". content content sidebar ."
		". content content sidebar ."
		". content content . ."
		"footer footer footer footer footer";
	}

	.title {
		grid-area: title;
		display: grid;
		height: 900px;
		width: 100%;
		max-width: 100%;
		margin: auto;
		background: green url(img/DSC_1045.JPG) center 0px;
		-webkit-background-size: 100% 100%;
	}

	.jollie{
	 	font-size: 2em;
	 	color: rgba(252, 177, 65, 1);
	 	justify-self: center;
	 	align-self: center;
	 	background: rgba(128, 128, 128, 0.85);
	 	padding: 5%;
	 	border-radius: 15% 15%;
	 	border: .2em solid rgba(252, 177, 65, 1);
 	}

 	.hBlack {
 		grid-area: hBlack;
 		display: grid;
 		background-color: #333;
 	}

}

